@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
main {
    display: grid;
    align-items: center;
    justify-content: center;
    
    height: 100%;
    width: 100%;

    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    text-align: center;
}

.game-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.game-container section {
    padding: 15px;
    min-width: 200px;
    min-height: 200px;

    border: 2px solid black;
    border-radius: 10px;
}
.game-container button {
    min-width: 100%;
    background: none;
    border-radius: 10px;
    box-shadow: 3px 3px 2px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transition: ease-out;
}
.game-container button:active{
    box-shadow: inset 3px 3px 2px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    transform: scale(99%);
}
.game-container #reset-knapp{
    background-color: #E0FBFC;
}
.game-container .span-2{
    grid-column: span 2;
}
.score-container h3{
    opacity: 75%;
    margin-bottom: 5px;
}
.score-container h2{
    margin-top: 5px;
}
.spiller1{
    background-color: #98C1D9;
}
.spiller2{
    background-color: #EE6C4D;
}